---
base_brew_packages:
 - name: zsh
 - name: macvim
   install_options: --with-override-system-vim
 - name: dockutil
base_osx_config:
  # Enable tap to click
  - "defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true"
  - "defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1"
  - "defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1"
  # Enable three finger drag
  - "defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad TrackpadThreeFingerDrag -bool true"
  # Disable automatic capitalization as it’s annoying when typing code
  - "defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false"
  # Disable smart dashes as they’re annoying when typing code
  - "defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false"
  # Disable automatic period substitution as it’s annoying when typing code
  - "defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false"
  # Disable smart quotes as they’re annoying when typing code
  - "defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false"
  # Disable auto-correct
  - "defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false"
  # Increase sound quality for Bluetooth headphones/headsets
  - "defaults write com.apple.BluetoothAudioAgent \"Apple Bitpool Min (editable)\" -int 40"
  # Disable shadow in screenshots
  - "defaults write com.apple.screencapture disable-shadow -bool true"
  # Enable subpixel font rendering on non-Apple LCDs
  # Reference: https://github.com/kevinSuttle/macOS-Defaults/issues/17#issuecomment-266633501
  - "defaults write NSGlobalDomain AppleFontSmoothing -int 1"
  # Enable HiDPI display modes (requires restart)
  - "defaults write /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled -bool true"
  # Avoid creating .DS_Store files on network or USB volumes
  - "defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true"
  - "defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true"
  # Use list view in all Finder windows by default
  # Four-letter codes for the other view modes: `icnv`, `clmv`, `Flwv`
  - "defaults write com.apple.finder FXPreferredViewStyle -string \"Nlsv\""
  # Disable Dashboard
  - "defaults write com.apple.dashboard mcx-disabled -bool true"
  # Don’t show Dashboard as a Space
  - "defaults write com.apple.dock dashboard-in-overlay -bool true"
  # Don’t automatically rearrange Spaces based on most recent use
  - "defaults write com.apple.dock mru-spaces -bool false"
  # Prevent Photos from opening automatically when devices are plugged in
  - "defaults -currentHost write com.apple.ImageCapture disableHotPlug -bool true"
  # Disable smart quotes as it’s annoying for messages that contain code
  - "defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add \"automaticQuoteSubstitutionEnabled\" -bool false"
  # Disable continuous spell checking
  - "defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add \"continuousSpellCheckingEnabled\" -bool false"
