---
base_brew_packages:
  - name: coreutils
  - name: git
  - name: zsh
  - name: zsh-completions
  - name: macvim
    install_options: --with-override-system-vim
  - name: tmux
  - name: nvm
  - name: dockutil
  - name: grep
  - name: openssh
  - name: screen

base_brew_cask_packages:
  - name: visual-studio-code

base_osx_defaults:
  # Enable tap to click
  - domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
    key: Clicking
    type: bool
    value: true
    state: present
  - domain: com.apple.AppleMultitouchTrackpad
    key: Clicking
    type: bool
    value: true
    state: present
  - domain: NSGlobalDomain
    key: com.apple.mouse.tapBehavior
    host: currentHost
    type: int
    value: 1
    state: present
  - domain: NSGlobalDomain
    key: com.apple.mouse.tapBehavior
    type: int
    value: 1
    state: present
  # Enable three finger drag
  - domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
    key: TrackpadThreeFingerDrag
    type: bool
    value: true
    state: present
  - domain: com.apple.AppleMultitouchTrackpad
    key: TrackpadThreeFingerDrag
    type: bool
    value: true
    state: present
  # Safari debug menu
  - domain: com.apple.Safari
    key: IncludeInternalDebugMenu
    type: bool
    value: true
    state: present
  # Disable automatic capitalization as it’s annoying when typing code
  - domain: NSGlobalDomain
    key: NSAutomaticCapitalizationEnabled
    type: bool
    value: false
    state: present
  # Disable smart dashes as they’re annoying when typing code
  - domain: NSGlobalDomain
    key: NSAutomaticDashSubstitutionEnabled
    type: bool
    value: false
    state: present
  # Disable automatic period substitution as it’s annoying when typing code
  - domain: NSGlobalDomain
    key: NSAutomaticPeriodSubstitutionEnabled
    type: bool
    value: false
    state: present
  # Disable smart quotes as they’re annoying when typing code
  - domain: NSGlobalDomain
    key: NSAutomaticQuoteSubstitutionEnabled
    type: bool
    value: false
    state: present
  # Disable auto-correct
  - domain: NSGlobalDomain
    key: NSAutomaticSpellingCorrectionEnabled
    type: bool
    value: false
    state: present
  # Increase sound quality for Bluetooth headphones/headsets
  - domain: com.apple.BluetoothAudioAgent
    key: Apple Bitpool Min (editable)
    type: int
    value: 40
    state: present
  # Disable shadow in screenshots DOES NOT WORK
  - domain: com.apple.screencapture
    key: disable-shadow
    type: bool
    value: true
    state: present
  # Enable subpixel font rendering on non-Apple LCDs
  # Reference: https://github.com/kevinSuttle/macOS-Defaults/issues/17#issuecomment-266633501
  - domain: NSGlobalDomain
    key: AppleFontSmoothing
    type: int
    value: 1
    state: present
  # Enable HiDPI display modes (requires restart)
  - domain: /Library/Preferences/com.apple.windowserver
    key: DisplayResolutionEnabled
    type: bool
    value: true
    state: present
  # Avoid creating .DS_Store files on network or USB volumes
  - domain: com.apple.desktopservices
    key: DSDontWriteNetworkStores
    type: bool
    value: true
    state: present
  - domain: com.apple.desktopservices
    key: DSDontWriteUSBStores
    type: bool
    value: true
    state: present
  # Use list view in all Finder windows by default
  # Four-letter codes for the other view modes: `icnv`, `clmv`, `Flwv`
  - domain: com.apple.finder
    key: FXPreferredViewStyle
    type: string
    value: Nlsv
    state: present
  # Disable Dashboard
  - domain: com.apple.dashboard
    key: mcx-disabled
    type: bool
    value: true
    state: present
  # Don’t show Dashboard as a Space
  - domain: com.apple.dock
    key: dashboard-in-overlay
    type: bool
    value: true
    state: present
  # Don’t automatically rearrange Spaces based on most recent use
  - domain: com.apple.dock
    key: mru-spaces
    type: bool
    value: false
    state: present
  # Prevent Photos from opening automatically when devices are plugged in
  - domain: com.apple.ImageCapture
    key: disableHotPlug
    type: bool
    value: true
    state: present

base_osx_config:
  # Disable smart quotes as it’s annoying for messages that contain code
  - "defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add \"automaticQuoteSubstitutionEnabled\" -bool false"
  # Disable continuous spell checking
  - "defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add \"continuousSpellCheckingEnabled\" -bool false"
