---
- name: Create bash_profile
  file:
    path: ~/.bash_profile
    state: touch

- name: Configure homebrew path
  lineinfile:
    path: ~/.bash_profile
    regexp: "^export PATH="
    line: "export PATH=\"/usr/local/bin:/usr/local/opt/coreutils/libexec/gnubin:$PATH\""

- name: Update homebrew
  homebrew:
    update_homebrew: yes
    upgrade_all: yes
  tags:
  - update
  - brew
  - cask

- name: Install base homebrew packages
  homebrew:
    name: "{{ item.name }}"
    install_options: "{{ item.install_options | default('') }}"
    state: present
  with_items: "{{ base_brew_packages }}"
  tags:
  - brew

- name: Install base homebrew cask packages
  homebrew_cask:
    name: "{{ item.name }}"
    install_options: "{{ item.install_options | default('') }}"
    state: present
  with_items: "{{ base_brew_cask_packages }}"
  tags:
  - cask

- name: OSX Defaults
  osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    host: "{{ item.host | default('') }}"
    value: "{{ item.value }}"
    state: "{{ item.state }}"
  become: "{{ item.host | default('no') }}"
  with_items: "{{ base_osx_defaults }}"
  tags:
   - defaults

- name: Register current shell
  command: echo $SHELL
  register: current_shell
  tags:
   - zsh

- name: Add ZSH to available shells
  lineinfile:
    path: /etc/shells
    regexp: "^/usr/local/bin/zsh"
    line: "/usr/local/bin/zsh"
  become: yes
  when: current_shell.stdout_lines.0 != '/usr/local/bin/zsh'
  tags:
   - zsh

- name: Enable ZSH
  command: chsh -s /usr/local/bin/zsh
  when: current_shell.stdout_lines.0 != '/usr/local/bin/zsh'
  become: yes
  tags:
   - zsh

- name: Install or Update Presto from github
  git:
    repo: https://github.com/sorin-ionescu/prezto.git
    dest: ~/.zprezto
    recursive: yes
    force: yes
  tags:
   - zsh

- name: Check if Presto is installed
  stat:
    path: ~/.zpreztorc
  register: presto_installed
  tags:
   - zsh

- name: Run Presto install script
  command: |
    zsh -c 'setopt EXTENDED_GLOB
    for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do
      ln -s "$rcfile" "${ZDOTDIR:-$HOME}/.${rcfile:t}"
    done'
  when: not presto_installed.stat.exists
  tags:
   - zsh

- name: Copy zprezto config files
  copy:
    src: "./files/dotfiles/{{ item }}"
    dest: "~/{{ item }}"
  with_items:
    - .zpreztorc
    - .zprofile
  tags:
   - zsh

- name: Configure nvm
  lineinfile:
    path: ~/.zshrc
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: "^export NVM_DIR"
      line: export NVM_DIR="$HOME/.nvm"
    - regexp: '^. "/usr/local/opt/nvm/nvm.sh"'
      line: . "/usr/local/opt/nvm/nvm.sh"
  tags:
    - zsh
    - nvm

- name: Configure SSH keys
  lineinfile:
    path: ~/.zshrc
    regexp: "^ssh-add {{ item }}"
    line: "ssh-add {{ item }}"
  with_items:
    "{{ ssh_keys }}"
  tags:
    - zsh

- import_tasks: tmux.yml